<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Amazing在线 | 商品目录</title>
    <link href="//at.alicdn.com/t/font_1062289_4ualj74ntt5.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <script src="static/axios.min.js"></script>
    <script src="static/vue.js"></script>

</head>

<body>
    <div id='navbar'>
        <nav class="navbar navbar-light border-bottom mt-1">
            <a class="navbar-brand" href="home">
                <div class="row">
                    <i class="iconfont icons8-亚马逊 mt-1 mr-2 ml-2"></i>
                    Amazing在线
                </div>
            </a>

            <ul class="nav nav-fill nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-muted" href="index">
                        <i class="iconfont icon-shouye"></i>
                        首页
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="items">
                        <i class="iconfont icon-shu"></i>
                        全部商品
                    </a>
                </li>
                <li class="nav-item" v-show="isLogin">
                    <a class="nav-link text-muted" href="orders">
                        <i class="iconfont icon-dingdan"></i>
                        订单
                    </a>
                </li>
            </ul>

            <div>
                <a href="login" class="card-link" v-if="!isLogin">
                    <span></span>
                    <i class="iconfont icon-denglu"></i>
                    登录/注册
                </a>

                <div class="row mr-0" v-else>
                    <div>
                        <i class="iconfont icon-guanyu"></i>
                        {{ user.name }}
                    </div>
                    <div @click="logout()">
                        <i class="iconfont icon-tuichu text-danger"></i>
                        退出登录
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="itemBody">
        <div class="container-fluid" v-for="item in items">
            <div class="row">
                <div class="imgbox col-md-2" style="cursor: pointer">
                    <img class="img-thumbnail" :src="item.imgUrl">
                </div>
                <div class="col-md-6" style="cursor: pointer">
                    <div class="card-link link">
                        <div class="name mt-3 mb-2">{{item.name }}</div>
                        <div class="author mb-1">类别:{{ item.type }}</div>
                        <div class="outline">简介:{{ item.info }}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="isbn mt-4 mb-4">商品编号: {{ item.id }}</div>
                    <div class="stock mb-2">库存 {{ item.stock }}</div>
                    <div class="price">{{ item.price }}元</div>
                </div>

                <div class="col-md-2">
                    <div class="row mt-5 mb-2">
                        <i class="iconfont icon-jian col-md-3"></i>
                        <div class="col-md-6 text-center">{{count}}</div>
                        <i class="iconfont icon-jia col-md-3"></i>
                    </div>
                    <button class="btn btn-danger btn-block mt-1" @click="addtoCart(item,count)">
                        加入购物车
                    </button>
                </div>
            </div>
        </div>

        <div v-show="showShopCart" class="shopcart-content">
            <div class="bg-white shopcart border-right border-secondary">
                <div v-show="Object.keys(myCarts).length">
                    <ul class="container-fluid">
                        <li v-for="item in myCarts" class="list-unstyled mb-2 mt-1 ">
                            <div class="row mt-3">
                                <div class="imgbox col-md-3">
                                    <img :src="item.imgUrl" class="img-thumbnail">
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <div class="name">{{ item.name }}</div>
                                            <div class="type">{{ item.type }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        ×{{ item.count }}
                                    </div>
                                </div>
                                <div class="money col-md-2 ml-1">
                                    ￥{{ item.money }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-1">
                                    <i class="iconfont icon-shanchu text-danger" style="cursor: pointer"
                                        @click="deleteItem(item.id)"></i>
                                </div>
                            </div>
                            <hr>
                        </li>
                    </ul>

                    <div class="mt-3 mb-3 row" v-show="shopCartTotal!=0">
                        <div class="col-md-8 text-center mt-2">
                            <div class="container">
                                <div class="row">
                                    <div class="totaltxt mt-1">总计</div>
                                    <div class="text-danger totalmoney">￥{{ shopCartTotal }}</div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger col-md-3" @click="sumbitOrder()" >
                            提交订单
                        </button>
                    </div>

                </div>
                <div v-show="shopCartCount === 0">
                    <div class="mt-4 text-center">
                        <i class="iconfont icon-gouwuche1"></i>
                        购物车为空
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-danger float wrap" style="cursor: pointer" @click="showShopCart = !showShopCart"
            v-show="showShopCart">
            <p v-text="shopCartCount" class="center" :hidden="shopCartCount === 0">
                <i class="iconfont icon-gouwuche"></i>
            </p>
        </div>

        <div class="shopcart-float bg-danger wrap" style="cursor: pointer" @click="showShopCart = !showShopCart"
            v-show="!showShopCart">
            <p v-text="shopCartCount" class="center" :hidden="shopCartCount === 0">
                <i class="iconfont icon-gouwuche"></i>
            </p>
        </div>

    </div>

    <script>
        let userVm = new Vue({
            el: '#navbar',
            data: {
                isLogin: false,
                user: {}
            },
            methods: {
                logout: () => {
                    axios.get("/api/user/logout").then(res => {
                        if (res.data.state) {
                            this.isLogin = false;
                            window.location.reload();
                        }
                    }).catch(err => console, log(err));

                }
            },
            mounted() {
                axios.get("/api/user/info")
                    .then(res => {
                        this.isLogin = res.data.state;
                        if (res.data.state) {
                            this.user = res.data.user;
                        }
                    })
                    .catch(error => console.log(error));
            }
        });

        var itemsVm = new Vue({
            el: "#itemBody",
            data: {
                count: 1,
                items: [],
                myCarts: {},
                showShopCart: false,
                // shopCartCount: 0,
                // shopCartTotal: 0
            },
            methods: {
                addtoCart: (item,count) => {
                    let vm = itemsVm;
                    let cartItem = {
                        id: item.id,
                        name: item.name,
                        count: count,
                        type: item.type,
                        price: item.price,
                    };
                    try{
                        if( vm.myCarts[item.id] != undefined && vm.myCarts[item.id] != null ){
                            cartItem.count = cartItem.count + vm.myCarts[item.id].count;
                        }
                    }catch{ };
                    cartItem.money = cartItem.price * cartItem.count; 
                    Vue.set(vm.myCarts, cartItem.id, cartItem);
                    // Object.defineProperty(this.myCarts, cartItem.id, {value: cartItem, writable: true});
                },
                deleteItem: (id) => {
                    let vm = itemsVm;
                    Vue.delete(vm.myCarts, id);
                },
                sumbitOrder: () => {
                    alert("请开始真正的亚马逊购物吧！");
                    window.location.href = "https://www.amazon.cn/ref=z_cn?tag=zcn0e-23";
                }

            },
            computed: {
                shopCartCount: function () {
                    let count = 0;
                    try{
                        let myCarts = this.myCarts;
                    }catch{
                        
                        console.log("get shopCartCount is wrong");
                        console.log(itemsVm)
                        console.log(itemsVm.myCarts)
                        return count;
                    }
                    let myCarts = this.myCarts;
                    for( key in myCarts){
                        console.log("key = " + key)
                        count += myCarts[key].count;
                    }
                    return count;
                },
                shopCartTotal: function () {
                    let total = 0;
                    try {
                        let myCarts = this.myCarts;
                    } catch{
                        console.log("get shopCartCount is wrong");
                        return total;
                    }
                    let myCarts = this.myCarts;
                    for (key in myCarts) {
                        console.log("key = " + key)
                        total += myCarts[key].money;
                    }
                    return total;
                }
            },
            mounted() {
                axios.get("/api/items/all")
                    .then(res => {
                        let itemList = res.data;
                        for (let i = 0; i < itemList; i++) {
                            itemList[i].info = JSON.parse(itemList[i].info.split("'").join("\"")).title;
                        }
                        this.items = itemList;
                    })
                    .catch(error => console.log(error));
            }
        })
    </script>
</body>

</html>