<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/echarts/4.7.0/echarts.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css">
    <title>COVID-19全球实时趋势</title>
    <link rel="stylesheet" href="common.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

    <div id="base-info">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1">
                        COVID-19全球实时趋势
                    </h1>
                    <h2 id="last-updated" class="subtitle is-6">
                        Last updated: {{ lastUpdate }}
                    </h2>
                </div>
            </div>
        </section>

        <section class="hero is-info">
            <div class="hero-body has-text-centered">

                <div class="container">
                    <h3 class="subtitle is-3">
                        Coronavirus Cases:
                    </h3>
                    <h1 class="title is-1">
                        {{ baseData.cases }}
                    </h1>
                </div>
                <br>
                <div class="container">
                    <h3 class="subtitle is-3">
                        Deaths:
                    </h3>
                    <h1 class="title is-1">
                        {{ baseData.deaths }}
                    </h1>
                </div>
                <br>
                <div class="container">
                    <h3 class="subtitle is-3">
                        Recovered:
                    </h3>
                    <h1 class="title is-1">
                        {{ baseData.recovered }}
                    </h1>
                </div>
                <br>
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <h2 class="subtitle">今日新增</h2>
                            <h1 class="title">{{ baseData.todayCases }}</h1>
                        </div>
                        <div class="column">
                            <h2 class="subtitle">今日死亡</h2>
                            <h1 class="title">{{ baseData.todayDeaths }}</h1>
                        </div>
                        <div class="column">
                            <h2 class="subtitle">活跃病例</h2>
                            <h1 class="title">{{ baseData.active }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <section class="hero has-background-light">
        <div class="hero-body">
            <h3 class="title is-2 has-text-centered">最近30天发展趋势</h3>
            <br>
            <div class="columns">
                <div class="column">
                    <div id="chart-his-cases" class="chart"></div>
                </div>
                <div class="column">
                    <div id="chart-his-deaths" class="chart"></div>
                </div>
                <div class="column">
                    <div id="chart-his-recovered" class="chart"></div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-4 is-offset-2">
                    <div id="chart-his-daily-cases" class="chart"></div>
                </div>
                <div class="column is-4">
                    <div id="chart-his-daily-deaths" class="chart"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero">

        <div class="hero-body">
            <h3 class="title is-2 has-text-centered">全球详细信息</h3>
            <br>

            <div id="detail-data-table" class="container">
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>国家</th>
                            <th>病例</th>
                            <th>
                                今日新增
                            </th>
                            <th>死亡</th>
                            <th>今日死亡</th>
                            <th>康复</th>
                            <th>今日康复</th>
                            <th>活跃病例</th>
                            <th>病例每百万</th>
                            <th>死亡每百万</th>
                            <th>人口</th>
                            <th>洲</th>
                        </tr>
                    </thead>

                    <tbody>
                        <template v-for="(item,index) in detailData">
                            <tr>
                                <td>{{ index + 1 }}</td>
                                <th style="width: 70px;"><a :href="'/' + item.country">{{ item.country }}</a></th>
                                <td>{{ item.cases }}</td>
                                <td>{{ item.todayCases }}</td>
                                <td>{{ item.deaths }}</td>
                                <td>{{ item.todayDeaths }}</td>
                                <td>{{ item.recovered }}</td>
                                <td>{{ item.todayRecovered }}</td>
                                <td>{{ item.active }}</td>
                                <td>{{ item.casesPerOneMillion }}</td>
                                <td>{{ item.deathsPerOneMillion }}</td>
                                <td>{{ item.population }}</td>
                                <td>{{ item.continent }}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div v-if="showProgress">
                    <progress class="progress is-medium" max="100"></progress>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>COVID-19全球实时趋势</strong> Writed by <strong><a
                            href="mailto:kvimsg@live.com">onemsg.</a></strong>
                    Build by <strong>Bulma Vue and Echarts.</strong>
                </p>
            </div>
        </div>
    </footer>

    <script src="common.js"></script>
    <script>
        initBaseInfo(GLOBA_URL)
        initGlobaHisChart(GLOVA_HISTORICAL_URL);
        initDetailDataTable()
    </script>
</body>

</html>